.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  gap: 4rem;

  @media (max-width: 1200px) {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  @media (max-width: 768px) {
    padding: 1rem 1rem 0 1rem;
  }

  .info {
    display: flex;
    align-items: center;

    @media (max-width: 476px) {
      display: grid;
      grid-template-columns: auto auto;
      gap: 2rem;
    }

    .profile {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      border-right: 1px solid #545f7d33;
      padding-right: 2rem;

      @media (max-width: 768px) {
        padding-right: 1rem;
      }

      @media (max-width: 476px) {
        padding-right: 0.3rem;
        border: none;
      }

      img {
        width: 100px;

        @media (max-width: 992px) {
          width: 80px;
        }
        @media (max-width: 768px) {
          width: 60px;
        }
        @media (max-width: 576px) {
          width: 40px;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
          font-size: 1.375rem;
          color: var(--primary-text-color);
          font-weight: 500;

          @media (max-width: 576px) {
            font-size: 1rem;
          }
        }

        p {
          font-size: 0.875rem;
          font-weight: 400;
          color: var(--secondary-text-color);

          @media (max-width: 576px) {
            font-size: 0.75rem;
          }
        }
      }
    }

    .rating {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 2rem;
      font-weight: 500;
      font-size: 0.875rem;
      color: var(--secondary-text-color);
      border-right: 1px solid #545f7d33;
      text-align: center;

      @media (max-width: 768px) {
        padding: 1rem;
      }
      @media (max-width: 476px) {
        padding: 0.3rem;
        border: none;
      }

      div {
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }
    }

    .wallet {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-left: 2rem;

      @media (max-width: 768px) {
        padding-left: 1rem;
      }
      @media (max-width: 476px) {
        padding-left: 0.5rem;
        border: none;
      }

      h3 {
        font-size: 1.375rem;
        color: var(--primary-text-color);
        font-weight: 500;

        @media (max-width: 576px) {
          font-size: 1rem;
        }
      }

      p {
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--secondary-text-color);

        @media (max-width: 576px) {
          font-size: 0.75rem;
        }
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 476px) {
      flex-direction: column;
    }

    span {
      color: #000000cc;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;

      @media (max-width: 1200px) {
        font-size: 0.875rem;
      }

      @media (max-width: 476px) {
        width: 100%;
        text-align: left;
      }

      &.active {
        color: var(--secondary-color);
        border-bottom: 3px solid var(--secondary-color);
      }

      p {
        padding: 0.5rem 1.5rem;

        @media (max-width: 1200px) {
          padding: 0.5rem 1rem;
        }

        @media (max-width: 768px) {
          padding: 0.5rem 0.5rem;
        }
      }
    }
  }
}
