@font-face {
  font-family: avenir-next;
  src: url(../fonts/avenir-next/AvenirNextCyr-Regular.ttf);
}

.container {
  font-family: avenir-next;
  width: 100%;

  button {
    font-family: avenir-next;
  }
}
