.container {
  position: absolute;
  top: 9%;
  left: 2%;
  background-color: var(--primary-color);
  box-shadow: 3px 5px 20px 0px #0000000a;
  border: 1px solid #545f7d24;
  z-index: 500;
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  .option {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;

    label {
      color: var(--secondary-text-color);
    }
    select,
    input {
      border: 1px solid #213f7d33;
      color: #545f7db3;
      border-radius: 0.5rem;
      padding: 0.6rem 0.8rem;
      width: 250px;
      outline: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }

      -moz-appearance: textfield; // Firefox
      -webkit-appearance: none; // Safari and Chrome
      appearance: none; // Modern browsers
    }
  }
}
.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
  margin: 0.75rem 0;

  button {
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.65rem 2rem;
    cursor: pointer;

    &.reset {
      color: var(--secondary-text-color);
      border: 1px solid #545f7d;
      background-color: var(--primary-color);
    }

    &.filter {
      border: 1px solid #39cdcc;
      background-color: var(--secondary-color);
      color: var(--primary-color);
    }
  }
}
