* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #39cdcc;
  --tertiary-color: #e4033b;
  --primary-text-color: #213f7d;
  --secondary-text-color: #545f7d;
}
